<%- include('./partials/header') %>

<div class="main-exp">
  <h1>(L)anguage (A)rts (S)tudy (O)n-the-go</h1>
  <h3>The no frills study tool, for your 'on-the-go' lifestyle!</h3>
</div>
<div class="mid-exp">
  <h4>Language Deck: Japanese</h4>
</div>
<% if (user) { %>
    <p>jump into one of your study decks below:</p>
<div class="bot-exp">
    
</div>   
<% } %>
<%- include('./partials/footer') %>
