
@media only screen and (max-width: 900px) {

  body {
    padding: 5px;
    background-color: #FFE9CA;
    font-size: 1px;
  }

  .logo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
  }


}

@media only screen and (max-width: 500px) {

  body {
    padding: 10px;
    background-color: #FFE9CA;
  }

  .logo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
  }

  .logo-bar > h1 {
    font-size: medium;
  }
}

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #562151;
}

a {
  color: #FB8987;
  text-decoration: none;
}


